.BucketsInfo div {
    display: block;
}


.BucketsInfo #files {
    width: 50%;
    background-color: #098569;
    color: white;
    display: inline-block;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
}


.BucketsInfo #delete {
    width: 50%;
    background-color: #a80003;
    color: white;
    display: inline-block;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}